{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "prettier",
        "eslint:recommended",
        "@react-native-community",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended", // React hooks rules
        "plugin:prettier/recommended", // Prettier recommended rules
        "plugin:import/warnings"
    ],
    "plugins": ["react", "prettier", "import"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "react-native/no-raw-text": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/prop-types": "off",
        "prettier/prettier": "error",
        "react/react-in-jsx-scope": "off",
        "no-param-reassign": "off",
        "indent": ["error", 4],
        "no-shadow": "off"
    },
    "overrides": [
        {
            "files": ["src/**/*.{js,jsx}", "*.{js,jsx}"]
        }
    ]
}
