<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928982736163-e7hhl384hhfhnulnehvpu1u8vju8s2br.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928982736163-e7hhl384hhfhnulnehvpu1u8vju8s2br</string>
	<key>API_KEY</key>
	<string>AIzaSyCQZppZrvDOZzDN-Ru2qKrjAu9iABkonPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>928982736163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.byeolbyeoldongne-app</string>
	<key>PROJECT_ID</key>
	<string>glass-oath-303306</string>
	<key>STORAGE_BUCKET</key>
	<string>glass-oath-303306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928982736163:ios:b0eee6f55be531febec096</string>
</dict>
</plist>